<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Banker Web App
  link(rel="stylesheet", href="/css/styles.css")
body
  nav
    ul
      li: a(href="/") Home
      li: a(href="/account/new") Add Account 
      li: a(href="/account") View Accounts
block top_nav
